@import "../../style/variable";

.technologies {
  padding-bottom: 8rem;
  background-color: #eed2cc;

  .card {
    height: 10rem;
  }
  .techDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  .tech {
    margin-top: 5rem;
  }

  .icon {
    width: 5rem;
    height: 5rem;
    color: none;
    padding-top: 0.5rem;
  }

  img {
    padding-top: 0.5rem;
  }

  a {
    color: #483d3f;
  }

  h2 {
    font-family: $mainFontFamily;
    color: #483d3f;
    text-align: center;
    padding: 5rem 0;
    font-weight: 550;
  }
  p {
    padding: 1rem 0;
  }
}
