@import "../../style/variable";

.aboutMe {
  height: 100%;
  color: #483d3f;

  .imageTextAboutMe {
    padding: 6rem 0;
  }

  img {
    width: 23rem;
    height: 23rem;
    border-radius: 0.5rem;
  }

  h1 {
    font-family: $secondaryFontFamily;
  }
  p {
    margin-top: 1.5rem;
    font-family: $mainFontFamily;
  }
}
