@import "../../style/variable";

.greeny {
  position: sticky;
}

img.greenyLeaf {
  width: 10rem;
  position: absolute;
  bottom: 2rem;
  right: 5rem;
  margin-right: -9rem;
}

img.greenyLine {
  position: absolute;
  margin-left: -6rem;
  top: 12rem;
}

.aboutMe {
  height: 100%;
  color: #483d3f;
  // margin-bottom: 2rem;

  a {
    color: #6c9a8b;
  }

  .imageTextAboutMe {
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .aboutMeInfo {
    width: 40rem;

    .btn,
    .btn-primary {
      background-color: #6c9a8b;
      border-color: #6c9a8b;
      margin-bottom: 2rem;

      &:active {
        background-color: #6c9a8b;
        border-color: #6c9a8b;
      }

      a {
        color: #fbf7f4;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  img {
    width: 23rem;
    height: 23rem;
    border-radius: 0.5rem;
    margin-left: 3rem;
  }

  h1 {
    font-family: $secondaryFontFamily;
    margin-top: 4rem;
  }
  p {
    margin-top: 1.5rem;
    font-family: $mainFontFamily;
    padding-right: 2rem;
  }
}

@include media-breakpoint-down(md) {
  .infoAboutMe {
    width: 10rem;
  }

  .greenyLeaf {
    display: none;
    overflow: hidden;
  }
}

@include media-breakpoint-down(sm) {
  .greeny {
    display: none;
    overflow: hidden;
  }

  .aboutMe {
    overflow: hidden;
    h1 {
      text-align: center;
      margin-top: 0rem;
    }
    img {
      margin-left: 0;
    }
  }
}
