@import "../../style/variable";

.greeny {
  position: sticky;
}

img.greenyLeaf {
  width: 10rem;
  position: absolute;
  bottom: 2rem;
  right: 5rem;
  margin-right: -9rem;
}

img.greenyLine {
  position: absolute;
  margin-left: -6rem;
  top: 12rem;
}

.aboutMe {
  height: 100%;
  color: #483d3f;
  // margin-bottom: 2rem;

  .imageTextAboutMe {
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .aboutMeInfo {
    width: 40rem;
  }

  img {
    width: 23rem;
    height: 23rem;
    border-radius: 0.5rem;
  }

  h1 {
    font-family: $secondaryFontFamily;
    margin-top: 4rem;
  }
  p {
    margin-top: 1.5rem;
    font-family: $mainFontFamily;
  }
}

@include media-breakpoint-down(md) {
  .infoAboutMe {
    width: 10rem;
  }
  // .greeny {
  //   overflow: hidden;
  // }

  .greenyLeaf {
    display: none;
    overflow: hidden;
    // overflow: hidden;
  }
}

@include media-breakpoint-down(sm) {
  .greeny {
    display: none;
    overflow: hidden;
  }
}
