@import "../../style/variable";

.navbar-nav {
  margin-left: auto;
  align-items: right;

  a {
    margin-left: 3rem;
    color: #fbf7f4;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.17em;
    position: relative;
    font-family: $mainFontFamily;

    &:hover {
      text-decoration: none;
      color: #eed2cc;
    }
  }
  @include media-breakpoint-down(sm) {
    a {
      margin-left: 0;
      margin-top: 1rem;
    }
  }
}
