@import "../../style/variable";

.resumePage {
  height: 100%;

  h2 {
    font-family: $mainFontFamily;
    color: #483d3f;
    text-align: center;
    padding: 5rem 0;
    font-weight: 550;
  }

  h3 {
    color: #8c5e58;
  }
}
