@import "../../style/variable";

.greenyRes {
  position: sticky;
  img.greenyLine {
    position: absolute;
    margin-left: -4rem;
    top: 26rem;
  }

  @include media-breakpoint-down(md) {
    img.greenyLine2 {
      display: none;
      overflow: hidden;
    }
  }
}

.resumePage {
  height: 100%;

  .resumeHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    h2 {
      font-family: $mainFontFamily;
      color: #483d3f;
      padding: 5rem 0 1rem 0;
      font-weight: 550;
    }
    .resumePdf {
      padding-bottom: 7rem;
      color: #6c9a8b;
    }
  }

  h3 {
    color: #6c9a8b;
  }
  h6,
  h4 {
    color: #483d3f;
  }
}

@include media-breakpoint-down(sm) {
  img.greenyLine2 {
    display: none;
  }
}
