@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
.container {
  h2 {
    color: #405952;
    margin: 2rem 0 0 2rem;
  }
  .card {
    cursor: pointer;
    margin: 2rem 0;
    width: 90%;
    height: 40%;
    max-width: 100%;
    background: #fff;
    box-shadow: 0 0 6px 0 rgba(#a66851, 0.12);
    transition: all 0.35s ease;
    .icon {
      width: 1.5rem;
      height: 1.5rem;
      color: #a66851;
      &:hover {
        color: #405952;
      }
    }

    .card-body {
      padding: 1rem 0 0 0;
    }

    img {
      width: 100%;
      height: 100%;
    }

    .card-title {
      color: #a66851;
    }

    .projectInfo {
      padding: 3rem;
    }

    .projectDetails {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .techInfo {
      p {
        padding-left: 0.5rem;
        font-size: 14px;
        color: #a66851;
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: #405952;
      height: 4px;
    }

    &::before {
      width: 0;
      opacity: 0;
      transition: opacity 0 ease, width 0 ease;
      transition-delay: 0.5s;
    }

    &::after {
      width: 100%;
      background: white;
      transition: width 0.5s ease;
    }

    .content {
      max-width: 80%;
    }

    &:hover {
      width: 100%;
      box-shadow: 0 10px 30px 0 rgba(#202024, 0.12);

      &::before {
        width: 100%;
        opacity: 1;
        transition: opacity 0.5s ease, width 0.5s ease;
        transition-delay: 0;
      }

      &::after {
        width: 0;
        opacity: 0;
        transition: width 0 ease;
      }

      .hoverContent {
        max-height: 14rem;
        transform: none;
      }
    }
  }
}
