@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");

img {
  width: 1.2rem;
}
h3 {
  color: #405952;
}
.card {
  cursor: pointer;
  margin: 1rem 0 1.8rem 0;
  width: 70%;
  height: 18rem;
  max-width: 100%;
  padding: 1.5em 0;
  background: #fff;
  box-shadow: 0 0 6px 0 rgba(#a66851, 0.12);
  transition: all 0.35s ease;
  .icon {
    color: #a66851;
    margin-top: 1rem;
    &:hover {
      color: #405952;
    }
  }

  .card-title {
    color: #a66851;
  }

  .projectDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .techInfo {
    display: flex;
    flex-direction: row;

    p {
      margin-right: 0.5rem;
      font-size: 14px;
      color: #a66851;
    }
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #405952;
    height: 4px;
  }

  &::before {
    width: 0;
    opacity: 0;
    transition: opacity 0 ease, width 0 ease;
    transition-delay: 0.5s;
  }

  &::after {
    width: 100%;
    background: white;
    transition: width 0.5s ease;
  }

  .content {
    width: 18em;
    height: 20rem;
    max-width: 80%;
  }

  .logo {
    margin: 0 0 1em;
    width: 10.625em;
    transition: all 0.35s ease;
  }

  .hoverContent {
    overflow: hidden;
    max-height: 0;
    transform: translateY(1em);
    transition: all 0.5s ease;
    .card-text {
      color: #707173;
      line-height: 1.4em;
    }
  }

  &:hover {
    width: 70%;
    box-shadow: 0 10px 20px 0 rgba(#202024, 0.12);

    &::before {
      width: 100%;
      opacity: 1;
      transition: opacity 0.5s ease, width 0.5s ease;
      transition-delay: 0;
    }

    &::after {
      width: 0;
      opacity: 0;
      transition: width 0 ease;
    }

    // .logo {
    //   margin-bottom: 0.5em;
    // }

    .hoverContent {
      max-height: 14rem;
      transform: none;
    }
  }
}
