.socialIcons {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  margin-right: 0.5rem;
  margin-top: 5rem;
  z-index: 1;

  .icon {
    color: #73523f;
    list-style-type: none;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 1%;
    border: 1px solid #73523f;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 20px;
    transition: ease 0.3s;
    .mediaIcon {
      color: #73523f;
    }
    &:hover {
      color: #593325;
      border: 1px solid #593325;
    }
  }

  &:hover > .icon {
    opacity: 0.5;
  }

  &:hover > .icon:hover {
    opacity: 1;
  }
}
